<style>
    h4 {
        text-align: center;
        margin-top: 50px;
    }
    body {
        background-image: url('https://st2.depositphotos.com/4112313/7047/v/450/depositphotos_70477245-stock-illustration-fitness-and-gym-hand-drawn.jpg');
    }
</style>

<div>
<a href="/bodypart/index" class="list-group-item">
    <h4 class="list-group-item-heading">Weight Training</h4>
    <p class="list-group-item-text"></p>
  </a>
  <a href="/cardio/index" class="list-group-item">
    <h4 class="list-group-item-heading">Cardio</h4>
    <p class="list-group-item-text"></p>
  </a>
</div>
  