
<style>
    .list-group-item{
      background: rgb(60, 60, 60);
      padding: 30px;
      position: relative;
      display: grid;
    }
    h4 {
      text-align: center;
      margin-top: 50px;
      position: block;
    }
    body {
      background-color: black;
      color: white;

      /* background-image: url('https://st2.depositphotos.com/4112313/7047/v/450/depositphotos_70477245-stock-illustration-fitness-and-gym-hand-drawn.jpg'); */
    }

    div {
      display: block;
    }
</style>

<div>
<a href="/bodypart/index" class="list-group-item">
    <h4 class="list-group-item-heading"><button>Weight Training</button></h4>
    <p class="list-group-item-text"></p>
  </a>
  <a href="/cardio/index" class="list-group-item">
    <h4 class="list-group-item-heading"><button> Cardio </button></h4>
    <p class="list-group-item-text"></p>
  </a>
</div>
  
