<!-- <h1> Sign In </h1>

<form method="POST" action="/auth/signin">

    <div class="form-group">
        <label>Email Address</label>
        <input type="email" name="emailAddress" class="form-control" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
    </div>

    <br>

    <div>
        <button type="submit" class="btn">Sign In</button>
    </div>

</form> -->

<section class="vh-100 bg-image"
  style="background-image: url('https://thumbs.dreamstime.com/b/vector-gym-pattern-seamless-background-illustration-113988682.jpg'); width: 100%">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign In</h2>

              <form method="POST" action="/auth/signin">

        
                <div class="form-outline mb-4">
                    <input type="email" name="emailAddress" id="form3Example3cg" class="form-control form-control-lg"  />
                    <label class="form-label" for="form3Example3cg">Email Address</label>
                  </div>

                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form3Example1cg" class="form-control form-control-lg"  />
                    <label class="form-label" for="form3Example1cg">Password</label>
                  </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Submit</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>







