<section class="vh-100 bg-image"
  style="background-image: url('https://st2.depositphotos.com/4112313/7047/v/450/depositphotos_70477245-stock-illustration-fitness-and-gym-hand-drawn.jpg'); width: 100%">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Sign Up</h2>

              <form method="POST" action="/auth/signup">

                <div class="form-outline mb-4">
                  <input type="text"  name="username" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Username</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="email" name="email" id="form3Example3cg" class="form-control form-control-lg"  />
                    <label class="form-label" for="form3Example3cg">Email Address</label>
                  </div>

                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form3Example1cg" class="form-control form-control-lg"  />
                    <label class="form-label" for="form3Example1cg">Password</label>
                  </div>

                <div class="form-outline mb-4">
                  <input type="number" name="weight" id="form3Example4cg" class="form-control form-control-lg"/>
                  <label class="form-label" for="form3Example4cg">Weight</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" name="height" id="form3Example4cdg" class="form-control form-control-lg"  />
                  <label class="form-label" for="form3Example4cdg">Height</label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/auth/signin"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>