<h1> Back </h1>

<br><hr>
<a href="/exercise/bentover"> Bent over rows </a>
<a href="/exercise/latpulldown"> Lat Pulldown </a>
<a href="/exercise/deadlift"> Deadlift </a>
<a href="/exercise/tbarrow"> T-Bar Row</a> 