<h1> Core</h1>

<br><hr>
<a href="/exercise/kettlebell"> Kettlebell Swings </a>
<a href="/exercise/crunches"> Crunches </a>
<a href="/exercise/situp"> Sit-ups </a>
<a href="/exercise/plank"> Plank</a> 