<h1>Hello body part </h1>
<a href="exercise/index"></a>

<br><hr>
<a href="/bodypart/arms"> Arms </a>
<a href="/bodypart/legs"> Legs </a>
<a href="/bodypart/chest"> Chest </a>
<a href="/bodypart/core"> Core </a>
<a href="/bodypart/back"> Back </a>
<a href="/bodypart/wholebody"> Whole Body </a>