<h1>Hello body part </h1>
<a href="exercise/index"></a>

<br><hr>
<a href="/bodypart/arms"> Arms </a> <br>
<a href="/bodypart/legs"> Legs </a> <br>
<a href="/bodypart/chest"> Chest </a> <br>
<a href="/bodypart/core"> Core </a><br>
<a href="/bodypart/back"> Back </a><br>
<a href="/bodypart/wholebody"> Whole Body </a>