<h1>Legs</h1>

<br><hr>
<a href="/exercise/squat"> Squat </a>
<a href="/exercise/deadlift"> Deadlift </a>
<a href="/exercise/legpress"> Leg Press </a>
<a href="/exercise/hamstring"> Hamstring Curls</a>