<h1>whole body</h1>

<br><hr>
<a href="/exercise/squat"> Squats </a>
<a href="/exercise/deadlift"> Deadlifts </a>
<a href="/exercise/burpees"> Burpees </a>
<a href="/exercise/romanian"> Romanian Deadlift</a> 