
<style>
    body{
      background: rgb(50, 50, 50);
      color: black;
    }
/*   
   label{
        background: white;
        text-decoration: none;
        position: relative;
        /* display: block; */
        /* justify-content: center;
        align-items: center;
        /* box-shadow: 20px 20px 50px rgb(0, 0, 0); */
        /* bottom: -50%;
        right: 40%; */ */

    /* }
    input{
        position: absolute;
        top: 30%;
        right: 30%;
    }
    button{
        position: absolute;
        top: 50%;
        right: 30%;
    } */ */
  </style>


<form action="/profile/changepass?id=<%=user._id%>" method="POST">
    <div> 
        <label >Password</label>
        <input type="password" name = "password">
    </div>

    <input type="hidden" value="<%=user._id%>" name="id">
    <button type="submit">Change Password</button>
</form>