<form method="POST" action="/profile/edit?id=<%=profile._id%>&_method=PUT">
    <input type="text" name="username" value="<%=profile.username%>">
    <input type="text" name="height" value="<%=profile.height%>">
    <input type="text" name="weight" value="<%=profile.weight%>">
<button type="submit">Update</button>
</form>

