<style> 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
h1 {
    margin-top: 222px;
    text-align: center;
    font-family: inherit;
}

body {
    background-image:url('https://st2.depositphotos.com/4112313/7047/v/450/depositphotos_70477245-stock-illustration-fitness-and-gym-hand-drawn.jpg') ;
}

</style>

<h1 class="Hheader">Welcome to GYM Geek</h1>
<!-- <img src="https://w7.pngwing.com/pngs/26/765/png-transparent-barbell-dumbbell-weight-training-physical-fitness-barbell-angle-logo-sports.png"> -->
<h1 class="Hheader">Track Your Fitness</h1>
<div class="SignUp">

</div>
<div class="bg">

</div>