<style> 
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
h1 {
    margin-top: 222px;
    text-align: center;
    font-family: inherit;
}

body {
    background-image:url('https://st2.depositphotos.com/4112313/7047/v/450/depositphotos_70477245-stock-illustration-fitness-and-gym-hand-drawn.jpg') ;
}

p {

}

img {
    margin-top: -120px;
}

</style> 
<p>Welcome to Gym Geek <br> Your Workout Tracker App <br> To use the App <br> Proceed to <a href= "/auth/signup"> Sign Up</p>
<center>
<img src="https://static.wixstatic.com/media/930c1a_16a96a56ca8e49d1921ee58f962e542d~mv2.jpg/v1/fit/w_2500,h_1330,al_c/930c1a_16a96a56ca8e49d1921ee58f962e542d~mv2.jpg">
</center>
<div class="SignUp">

</div>
<div class="bg">

</div>