<h1>Input Data</h1>

<!-- <form method="POST" action="/plan/index">
<div>
    <label>Sets</label>
    <input name="sets" type="number"/>
</div>

<div class="form-group">
    <label>Weight</label>
    <input name="weight" type="number"/>
</div>

<div class="form-group">
    <label>Reps</label>
    <input name="reps" type="number"/>
</div>

<button type="submit">Save!</button>
</div>
</form> -->