<h1>Input Data</h1>

<form method="POST" action="/plan/index">
<div>
    <label>Type</label>
    <input name="type" type="string"/>
</div>

<div class="form-group">
    <label>Distance</label>
    <input name="distance" type="number"/>
</div>

<div class="form-group">
    <label>Duration</label>
    <input name="duration" type="number"/>
</div>

<button type="submit">Save!</button>
</div>
</form>