<form method="POST" action="/plan/index"> 
<h1>Barbell</h1>

    <div class="form-group">
        <input type="hidden" name="exercise" value ="Barbell" class="form-control">
    </div>

    <div class="form-group">
        <label>Sets</label>
        <input type="number" name="sets" class="form-control">
    </div>

    <div class="form-group">
        <label> Repetitions </label>
        <input type="number" name="reps" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Weights</label>
        <input type="number" name="weight" class="form-control">
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" name="date" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>