<!-- <button> Barbell Curl</button>
<button> Bench Dip</button>
<button> Hammer Curl</button>
<button> Push Down</button> -->

<br><hr>
<a href=""> Barbell Curl </a>
<a href=""> Bench Dip </a>
<a href=""> Hammer Curl </a>
<a href=""> Push Down </a>