<!-- <button> Barbell Curl</button>
<button> Bench Dip</button>
<button> Hammer Curl</button>
<button> Push Down</button> -->

<br><hr>
<!-- <a href="/exercise/barbell"> Barbell Curl </a>
<a href="/exercise/benchdip"> Bench Dip </a>
<a href="/exercise/hammercurl"> Hammer Curl </a>
<a href="/exercise/pushdown"> Push Down</a>  -->

<form method="POST" action="/plan/index"> 

    <div class="form-group">
        <label>Select Exercise</label>
        <select name="exercise" multiple="multiple">
                <option value="barbell">Barbell Curl</option>
                <option value="benchdip">Bench Dip</option>
                <option value="hammercurl">Hammer Curl</option>
                <option value="pushdown">Push Down</option>
        </select>
    </div>

    <div class="form-group">
        <label>Sets</label>
        <input type="number" name="sets" class="form-control">
    </div>

    <div class="form-group">
        <label> Repetitions </label>
        <input type="number" name="reps" class="form-control">
    </div>
    
    <div class="form-group">
        <label>Weights</label>
        <input type="number" name="weight" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>