<form method="POST" action="/plan/index"> 
    <h1>Push Down</h1>
    
        <div class="form-group">
            <input type="hidden" name="exercise" value ="Push down" class="form-control">
        </div>
    
        <div class="form-group">
            <label>Sets</label>
            <input type="number" name="sets" class="form-control">
        </div>
    
        <div class="form-group">
            <label> Repetitions </label>
            <input type="number" name="reps" class="form-control">
        </div>
        
        <div class="form-group">
            <label>Weights</label>
            <input type="number" name="weight" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>